.section3 {
    background: #EEF2F7;
}

.section3 .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 120px 20px;
}

.section3 .container h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 16px;
    color: #3D4B66;
}

.section3 .container h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 70px;
    color: #3D4B66;
}

.section3 .container .points  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section3 .container .text_1_3 .t_p {
    display: flex;
    max-width: 522px;
    line-height: 24px;
    margin-bottom: 40px;
    color: #3D4B66;
    
}

.section3 .container .text_1_3 .t_p .number_logo {
    max-width: 24px;
    max-height: 24px;
    margin-top: 3px;
}
.section3 .container .text_1_3 .t_p .text_points {
    padding-left: 10px;
}

.section3 .container .text_1_3 .t_p {
    display: flex;
    max-width: 522px;
    line-height: 24px;
    margin-bottom: 40px;
    color: #3D4B66;
    
}

.section3 .container .text_4_6 .t_p {
    display: flex;
    max-width: 522px;
    line-height: 24px;
    margin-bottom: 40px;
    color: #3D4B66;
}

.section3 .container .text_4_6 .t_p .number_logo {
    max-width: 24px;
    max-height: 24px;
    margin-top: 3px;
}
.section3 .container .text_4_6 .t_p .text_points {
    padding-left: 10px;
}

.section3 .container .points .text_1_3 .announcement {
    max-width: 520px;
    padding: 24px 50px;
    background: white;
    text-align: center;
    border-radius: 8px;
}

.section3 .container .points .announcement_2 {
    max-width: 520px;
    padding: 24px 50px;
    background: white;
    text-align: center;
    border-radius: 8px;
}

@media (max-width: 1920px) {
    .section3 .container .points .announcement_2 {
        display: none;
    }
}

@media (max-width: 1110px) {
    .section3 .container {
        width: 100%;
        padding: 120px 30px 120px;
    }

    .section3 .container .points {
        align-items: center;
        justify-content: center;
    }

    .section3 .container .points .text_1_3 .announcement {
        display: none;
    }
    .section3 .container .points .announcement_2 {
        display:initial;
        width: 100%;
        
    }
    .section3 .container h2 {  
        font-size: 24px;
        padding-left: 100px;
    }
    .section3 .container h3 {  
        font-size: 20px;
        padding-left: 100px;
    }
    .section3 .container .text_points {
        font-size: 16px;
    }
}    
    

@media (max-width: 768px) {
    .section3 .container .points{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .section3 .container h2 {  
        padding-left: 0px;
    }
    .section3 .container h3 {  
        padding-left: 0px;
    }
    .section3 .container .points .announcement_2 {
        padding:6px 12px;
        font-size: 16px;
        
    }
}